<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="bdsistemaEntities" connectionString="metadata=res://*/Modelo.DM.csdl|res://*/Modelo.DM.ssdl|res://*/Modelo.DM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=bdsistema;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>